@{
    ViewBag.Title = "Home Page";
}

<!-- Begin class tz-banner-social -->
<section class="tz-banner-social">
    <div class="tz-banner-images">
        <img src="~/demos/Social/images-1-Social-1.jpg" alt="Images">
    </div>
    <div class="tz-social-comunity">
        <img src="~/demos/check-01.png" alt="Images">
        <h1><a href="#">15 dəqiqədə proqramçı ol :)</a></h1>
        <span>Qoşuldum</span>
    </div>
</section>



<!-- End class tz-banner-social -->
<section class="tz-portfolio-wrapper">

    <div class="tz-portfolio">


        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="element tz-item-portfolio">
                    <div class="tz-image-portfolio">
                        <img src="~/demos/Social/c sharp.png" alt="Vivamus in lorem nisl">
                        <a href="#" class="tz-color-icon-1"> <i class="fa fa-camera"></i></a>
                    </div>
                    <div class="tz-portfolio-content-style-2">
                        <h4>Responsive Blog - Centro de Inovacoes InovaCidades</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum nisi eget mi mollis ...</p>
                        <span>
                            <a href="#"><i class="fa fa-arrows-alt"></i>READ MORE</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="element tz-item-portfolio">
                    <div class="tz-image-portfolio">
                        <img src="~/demos/Social/python.png" alt="Vivamus in lorem nisl">
                    </div>
                    <div class="tz-portfolio-content-style-2">
                        <h4>Responsive Blog - Centro de Inovacoes InovaCidades</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum nisi eget mi mollis ...</p>
                        <span>
                            <a href="#"><i class="fa fa-arrows-alt"></i>READ MORE</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="element tz-item-portfolio">
                    <div class="tz-image-portfolio">
                        <img src="~/demos/Social/c.png" alt="Vivamus in lorem nisl">
                    </div>
                    <div class="tz-portfolio-content-style-2">
                        <h4>Responsive Blog - Centro de Inovacoes InovaCidades</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum nisi eget mi mollis ...</p>
                        <span>
                            <a href="#"><i class="fa fa-arrows-alt"></i>READ MORE</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="element tz-item-portfolio">
                    <div class="tz-image-portfolio">
                        <img src="~/demos/Social/java.png" alt="Vivamus in lorem nisl">
                    </div>
                    <div class="tz-portfolio-content-style-2">
                        <h4>Responsive Blog - Centro de Inovacoes InovaCidades</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum nisi eget mi mollis ...</p>
                        <span>
                            <a href="#"><i class="fa fa-arrows-alt"></i>READ MORE</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End class tz-portfolio-->
</section>