@using OnlineTedris.Models.DbModels
@model List<TehsilKateqoriya>

@{
    ViewBag.Title = "TehsilKateqoriya";
    Layout = "~/Views/AdminUser/Shared/_Layout.cshtml";
}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Kateqoriya adı</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tk in Model)
                    {
                        <tr><td>@tk.ID</td><td>@tk.KateqoriyaAdi</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

