<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Tədris</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("Header")

    @RenderBody()

    <section class="tz-groups">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>

    @Html.Partial("Footer")

    <script>
        var Desktop = 5,
            tabletportrait = 2,
            mobilelandscape = 1,
            mobileportrait = 1,
            resizeTimer = null;
    </script>
    <script src="Scripts/js/jquery.min.js"></script>
    <script src="Scripts/js/bootstrap.min.js"></script>
    <script src="Scripts/js/off-canvas.js"></script>
    <script src="Scripts/js/jquery.isotope.min.js"></script>
    <script src="Scripts/js/resize.js"></script>
    <script src="Scripts/js/custom-portfolio.js"></script>
    <script src="Scripts/js/owl.carousel.min.js"></script>
    <script src="Scripts/js/jquery.parallax-1.1.3.js"></script>
    <script src="Scripts/js/jquery.flexslider.html"></script>
    <script src="Scripts/js/custom.js"></script>




</body>
</html>
