    <!-- Begin Footer -->
<footer class="tz-footer">
    <div class="tz-footer-content">
        <div class="container">
            <img src="~/demos/icon-footer.png" alt="Icon-footer">
            <ul class="tz-footer-part">
                <li>
                    <div class="tz-footer-content-main">
                        <img src="~/demos/remove-header1.png" alt="Images remove footer">
                        <h4>WEB-PROGRAMLAŞDIRMA</h4>
                        <ul>
                            <li><a href="#">C#</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS3</a></li>
                            <li><a href="#">BOOTSTRAP</a></li>
                            <li><a href="#">JAVASCRIPT</a></li>
                            <li><a href="#">JQUERY</a></li>
                            <li><a href="#">AZURE WEB SERVICE</a></li>
                            <li><a href="#">ASP.NET</a></li>
                            <li><a href="#">MVC</a></li>
                            <li><a href="#">ENTITY FRAMEWORK</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="~/demos/remove-header1.png" alt="Images remove footer">
                        <h4>WEB-PROGRAMLAŞDIRMA</h4>
                        <ul>
                            <li><a href="#">PYTHON</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="~/demos/remove-header1.png" alt="Images remove footer">
                        <h4>ACADAMIES</h4>
                        <ul>
                            <li><a href="#">Schools</a></li>
                            <li><a href="#">Depts. and Disciplines</a></li>
                            <li><a href="#">Undergraduate Studies</a></li>
                            <li><a href="#">Graduate Studies</a></li>
                            <li><a href="#">Part-Time and Non-Degree</a></li>
                            <li><a href="#">Summer</a></li>
                            <li><a href="#">Distance Education</a></li>
                            <li><a href="#">Catalogs</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="~/demos/remove-header1.png" alt="Images remove footer">
                        <h4>RESEARCH</h4>
                        <ul>
                            <li><a href="#">Applied Physics Laboratory</a></li>
                            <li><a href="#">Research Projects</a></li>
                            <li><a href="#">Administration</a></li>
                            <li><a href="#">Funding Opportunities</a></li>
                            <li><a href="#">Undergraduate Research</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a>Health & Medicine</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tz-footer-content-main">
                        <img src="~/demos/remove-header1.png" alt="Images remove footer">
                        <h4>EVENTS</h4>
                        <ul>
                            <li><a href="#">Calendar of Events</a></li>
                            <li><a href="#">Student Life</a></li>
                            <li><a href="#">Campus Services</a></li>
                            <li><a href="#">Athletic Facilities</a></li>
                            <li><a href="#">Arts and Culture</a></li>
                            <li><a href="#">For Students</a></li>
                            <li><a href="#">For Parents</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tz-footer-address-site">
        <address>University Address, GK-120 678 Warsaw, Poland | Phone: +48 0045356723</address>
    </div>
</footer>
<!-- End Footer -->
