
<div class="tz-content-search">
    <form action="#" method="get">
        <i class="fa fa-times tz-form-close"></i>
        <input type="text" class="tz-search-input" id="tz-search-input" name="search" placeholder="Search...">
    </form>
</div>

<style>
    .li2 {
        display: none;
    }
    .li1:hover .li2 {
        display: block;
        position: relative;
        left: 100%;
        top: -42px;
        border-top: 1px solid white;
        border-left: 2px solid white;
    }
    
</style>

<header class="tz-header tz-header-1">
    <div class="container">
        <div class="tz-header-content">
            <h3 class="tz-logo pull-left">
                <a href="#">T</a>
            </h3>
            <button data-target=".nav-collapse" class="tz-button-toggle btn-navbar pull-right" type="button">
                <i class="fa fa-bars"></i>
            </button>
            <button class="tz-search pull-right"><i class="fa fa-search"></i></button>

            <nav class="nav-collapse pull-right">
                @*<ul class="tz-menu">
                    <li>
                        <a href="#">Kateqoriya</a>
                        <ul class="sub-menu sub-menu-style-1">
                            <li>
                                <a href="#">Abuturiyent</a>
                                <ul class="sub-menu sub-menu-style-1">
                                    <li>
                                        <a href="Courses-Grid.html">Riyaziyyat</a>
                                        <ul class="sub-menu sub-menu-style-1">
                                            <li>
                                                <a href="Courses-Grid.html">Müəllim</a>
                                            </li>
                                            <li>
                                                <a href="Courses-Grid.html">Tələbə</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Courses-Grid.html">Fizika</a>
                                        <ul class="sub-menu sub-menu-style-1">
                                            <li>
                                                <a href="Courses-Grid.html">Müəllim</a>
                                            </li>
                                            <li>
                                                <a href="Courses-Grid.html">Tələbə</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Proqramlashdirma</a>
                                <ul class="sub-menu sub-menu-style-1">
                                    <li>
                                        <a href="Courses-Grid.html">C#</a>
                                        <ul class="sub-menu sub-menu-style-1">
                                            <li>
                                                <a href="Courses-Grid.html">Müəllim</a>
                                            </li>
                                            <li>
                                                <a href="Courses-Grid.html">Tələbə</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>*@

                <ul class="tz-menu">
                    <li>
                        <a href="#">Kateqoriya</a>
                        <ul class="sub-menu sub-menu-style-1">
                            <li class="li1">
                                <a href="Home-01.html">Abuturiyent</a>
                                <ul class="sub-menu sub-menu-style-1">
                                    <li class="li2">
                                        <a href="Home-01.html">Fizika</a>
                                        @*<ul class="sub-menu sub-menu-style-1">
                                            <li><a href="Home-01.html">Tələbə</a></li>
                                            <li><a href="Home-01.html">Müəllim</a></li>
                                        </ul>*@
                                    </li>
                                    
                                    <li class="li2">
                                        <a href="Home-01.html">Riyaziyyat</a>
                                        @*<ul class="sub-menu sub-menu-style-1">
                                            <li><a href="Home-01.html">Tələbə</a></li>
                                            <li><a href="Home-01.html">Müəllim</a></li>
                                        </ul>*@
                                    </li>

                                </ul>
                            </li>
                            @*<li>
                                <a href="Home-01.html">Proqramlashdirma</a>
                                <ul class="sub-menu sub-menu-style-1">
                                    <li>
                                        <a href="Home-01.html">Html</a>
                                        <ul class="sub-menu sub-menu-style-1">
                                            <li><a href="Home-01.html">Tələbə</a></li>
                                            <li><a href="Home-01.html">Müəllim</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Home-01.html">Css</a>
                                        <ul class="sub-menu sub-menu-style-1">
                                            <li><a href="Home-01.html">Tələbə</a></li>
                                            <li><a href="Home-01.html">Müəllim</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>*@
                        </ul>
                    </li>
                    <li class="tz-point-static">
                        <a href="#">KURSLAR</a>
                        <div class="sub-menu sub-menu-style-2">
                            <div class="tz-submenu-2-wrapper">
                                <div class="row">
                                    <div class="col-md-3 sub-menu-2-item">
                                        <ul>
                                            <li>
                                                <a href="#"><b>Web-Programlaşdırma</b></a>
                                            </li>
                                            <li>
                                                <a href="Mega-Menu-Style-02.html"><i class="fa fa-glass"></i>C#</a>
                                            </li>
                                            <li>
                                                <a href="Mega-Menu-Style-03.html"><i class="fa fa-glass"></i>HTML5</a>
                                            </li>
                                            <li>
                                                <a href="Mega-Menu-Style-04.html"><i class="fa fa-glass"></i>CSS3</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Forum.html"><i class="fa fa-glass"></i>BOOTSTRAP</a>
                                            </li>
                                            <li>
                                                <a href="Feature-RTLLayout.html"><i class="fa fa-glass"></i>JavaScript</a>
                                            </li>
                                            <li>
                                                <a href="Feature-RTLLayout.html"><i class="fa fa-glass"></i>Jquery</a>
                                            </li>
                                            <li>
                                                <a href="Feature-RTLLayout.html"><i class="fa fa-glass"></i>Azure Web Services</a>
                                            </li>
                                            <li>
                                                <a href="Mega-Menu-Style-02.html"><i class="fa fa-glass"></i>ASP.NET (Web Form)</a>
                                            </li>
                                            <li>
                                                <a href="Mega-Menu-Style-02.html"><i class="fa fa-glass"></i>MVC</a>
                                            </li>
                                            <li>
                                                <a href="Mega-Menu-Style-02.html"><i class="fa fa-glass"></i>Entity Framework</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 sub-menu-2-item">
                                        <ul>
                                            <li>
                                                <a href="#"><b>Desktop-Programlaşdırma</b></a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-01.html"><i class="fa fa-glass"></i>C#</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-02.html"><i class="fa fa-glass"></i>Pyton</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-03.html"><i class="fa fa-glass"></i>Java</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-04.html"><i class="fa fa-glass"></i>C++</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 sub-menu-2-item">
                                        <ul>
                                            <li>
                                                <a href="#"><b>Verilənlər bazası</b></a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-01.html"><i class="fa fa-glass"></i>MS SQL</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-02.html"><i class="fa fa-glass"></i>MySQL</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-03.html"><i class="fa fa-glass"></i>Oracle</a>
                                            </li>
                                            <li>
                                                <a href="Feature-Color-04.html"><i class="fa fa-glass"></i>SQLite</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">HAQQIMIZDA</a>
                        <ul class="sub-menu sub-menu-style-1">
                            <li>
                                <a href="Home-01.html">HAQQINDA 01</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">BLOG</a>
                        <ul class="sub-menu sub-menu-style-1">
                            <li>
                                <a href="Blog-01-Column.html">Blog 1</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">ƏLAQƏ</a>
                        <ul class="sub-menu sub-menu-style-1">
                            <li>
                                <a href="Social-Activity.html">Social Activity</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">QEYDİYYAT</a>
                        <ul class="sub-menu sub-menu-style-1">
                            <li>
                                <a href="Social-Activity.html">MÜƏLLİM</a>
                            </li>
                            <li>
                                <a href="/Student/">TƏLƏBƏ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- End Content Main Header -->
</header>
<!-- End Header -->
